<!-- <div class="ruch">
  <input autofocus 
  (keyup.arrowup)="move(0,-1)" 
  (keyup.arrowdown)="move(0,1)" 
  (keyup.arrowleft)="move(-1,0)"
  (keyup.arrowright)="move(1,0)">
</div> -->

<div class = "container">
<div class="hero"  ></div>
<div id="spikes"></div>
<div id="hppot"></div>
<div id="npc"  (click)="dial()"></div>
<div id="boss" ></div>

<div id="dialog">
<div *ngFor="let item of currDialog">{{item}}</div>
 <button *ngIf="!end" (click)="dialogFn()"> Next</button>
 <button *ngIf="end" (click)="zakonczDialog()">Zakończ</button>
</div>

<div id="battle">


<h1> Walka!</h1>
<div #enHp> Przeciwnik ma {{enemyHP}} życia</div>
<div id = akcja> Co zrobisz?</div>
<div *ngIf="!lost&&!won">
  <button (click)="atk()">Atak</button>
  <button (click)="def()">Obrona</button><br>
  <button (click)="itm()">item</button> 
  <button (click)="run()">Ucieczka</button>
</div>
  <div id=wynik>
  <div *ngIf="lost"><h1>PRZEGRAŁES</h1><button (click)="restart()">Zacznij od nowa</button></div>
  <div *ngIf="won"><h1>WYGRALES</h1><button (click)="run()">WYJDZ</button></div>
</div>
</div>
</div>
