$x : var(--x);
$y : var(--y);
$vprops : var(--vprops);
$vbattle : var(--vbattle);
$enemy1V : var(--venemy1);


.container{

    margin-left: 30px;
    width: 70vw;
    height: 73vh;
    border-style: solid;
    border-width: 1px;
    float:left;
    overflow: scroll;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/img/env/dom_inside.png);
    background-color: dimgray;
}

div.ruch > input{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0);
    border: 0;
    border-width:0px;
    box-shadow: none;
    cursor: default;
    outline: none;
    visibility: $vprops;

}
.hero{
    width: 128px;
    height: 128px;
    position: absolute;
    left: $y;
    top: $x;
    visibility: $vprops;

}
#spikes{

    width: 64px;
    height: 64px;
    background-image: url(../../../../assets/img/env/kolce.png);
    position: absolute;
    left:300px;
    top: 400px;
    visibility: $enemy1V;
}
#hppot{
    background-size: cover;
    width: 64px;
    height: 64px;
    background-image: url(../../../../assets/img/env/hppot.png);
    position: absolute;
    left: 100px;
    top:350px;
    visibility: $vprops;
}
#battle{
    width: 101.5%;
    height: 100%;
    background-image: url(../../../../assets/img/env/tuo.png);
    z-index: 100;
    visibility: $vbattle;
    margin-left: -30px;

}
#battle > h1{
    margin-left: 45%;
    color: black;
    text-shadow: 0 0 0.2em white;
}
#battle > div:nth-child(2){
    float: right;
    margin-top: 2%;
    margin-right: 8%;
    color: red;
    font-size: 20px;

    
}
#battle > div:nth-child(3){
    margin-top: 48%;
    margin-left: 13%;
    float: left;
    font-size: 50px;
}

#battle > div:nth-child(4){
    margin-top: 44.3%;
    float: left;
    margin-left: 25%;


}
#battle > div:nth-child(4) > button:nth-child(1){
    width: 100px;
    margin-right: 5px;
    background-color: #ff3333;
    border-color: red;
}
#battle > div:nth-child(4) > button:nth-child(2){
    width: 100px;
    background-color: #3385ff;
    border-color: blue;
}
#battle > div:nth-child(4) > button:nth-child(4){
    width: 100px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: #66ff66;
    border-color: green;
}
#battle > div:nth-child(4) > button:nth-child(5){
    width: 100px;
    margin-top: 5px;
    background-color: #ffe066;
    border-color: yellow;
}

#wynik > div{
    margin-top: -8%;
    margin-left: -2%;
    color: white;
    }

#wynik > div > button
    {
        margin-left: 20%;
    }
