$setterH : var(--setterH);
$setterW : var(--setterW);
$setterX : var(--setterX);
$setterY : var(--setterY);
$setterVisibility : var(--vis);

.container{
    margin-left: 1.5%;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 0px;
    float:left;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../../../assets/img/env/1.png);
    background-size: 30%;
    background-color: dimgray;
    padding: 0;

}
button, input,#inputs{
    float: right;
    width: 32px;
    height: 32px;
    font-size: 32px;
    margin: 0;
    
}
input{
    width: 30px;
}

#status{
    position: absolute;
    bottom:0;
    right: 0;
    background-color: rebeccapurple;
}
.trueStatus{
    color: yellowgreen;
}
.falseStatus{
    color: red;
}
#setter{
    position: absolute;
    width: $setterW;
    height: $setterH;
    border-radius: 5px;
    border-style: solid;
    left: $setterX;
    top: $setterY;
    visibility: $setterVisibility;
    overflow: hidden;
}
