$setterH : var(--setterH);
$setterW : var(--setterW);
$setterX : var(--setterX);
$setterY : var(--setterY);
$mapSize : var(--mapSize);
$setterVisibility : var(--vis);
$map : var(--map);

.container{
    font-size: 2vw;
    margin-left: 1.5%;
    width: 69%;
    min-width: 69%;
    max-width: 69%;
    height: 70%;
    min-height: 70%;
    max-height: 70%;
    border-style: solid;
    border-width: 0px;
    float:left;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: $map;
    background-size: $mapSize;
    background-color: dimgray;
    padding: 0;

}
button, input,#inputs, p{
    float: right;
    border: none;
    padding: 0;
    margin: 0;
}
input{
    width: 10%;
}

#status{
    position: absolute;
    bottom:0;
    right: 0;
    background-color: rebeccapurple;
}
.trueStatus{
    color: yellowgreen;
}
.falseStatus{
    color: red;
}
#setter{
    position: absolute;
    width: $setterW;
    height: $setterH;
    border-radius: 5px;
    border-style: solid;
    left: $setterX;
    top: $setterY;
    visibility: $setterVisibility;
    overflow: hidden;
}
