<!--
<app-game></app-game>
<app-bars></app-bars>
<app-logs></app-logs>
<router-outlet></router-outlet>-->
<!-- nav -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<nav class="navbar" *ngIf="currentUser">
       <a class="nav-link" (click)="logout()">Wyloguj</a>
        <a class="nav-link" (click)="home()">Home </a>  
        <a class="nav-link" (click)="about()">O grze </a>
        <a class="nav-link" *ngIf="currentUser.username=='Admin'" (click)="dev()">Dev </a>
</nav>

<!-- main app container 
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">-->
                <alert></alert>
                <router-outlet></router-outlet><!--
            </div>
        </div>
    </div>
</div>-->