// global application styles
a {
    cursor: pointer;
}

h2{
    color: white;
    text-shadow: 0 0 0.2em black;
}

label{
    color: white;
    text-shadow: 0 0 0.2em black;
}

a.nav-item.nav-link{
    float: right;
}

html{
    height: 100vh;
}

button.btn.btn-primary{
    background-color: red;
    border-color: red;
}

a.btn.btn-link{
    color: red;
}

.jumbotron{
    height: 100vh;
    border-radius: 0;
    background-image: url(https://i.imgur.com/bEo9p1i.jpg);
    background-size: 100vw 100vh;
    background-color:rgba(0, 0, 0, 0.0);
    margin: 0;
}