$hpPrct : var(--hpPrct);
$hpPrctD : var(--hpPrctd);
.container{
    border: black;
    border-style: solid;
    border-width: 0px;
    height: 95%;
    min-height: 95%;
    max-height: 95%;
    width: 28vw;
    min-width: 28vw;
    max-width: 28vw;
    float: right;
    overflow: hidden;
    background-color: dimgray;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    // background-image: url(../../../../assets/img/staty.png);
    background-size: 90%;
}

.circle{
    border: black;
    border-style: solid;
    border-width: 0px;
    position: relative;
    width: 30%;
    min-width: 30%;
    max-width: 30%;
    height: 15%;
    min-height: 15%;
    max-height: 15%;
  border-radius: 50%;
  display: inline-block;
  margin-left: 3%;
  margin-top: 3%;
  padding: 0;  
  position:relative;
}
#hp{
    float: left;
    background-image: url(../../../../assets/img/szkielo.png), linear-gradient(to top, red $hpPrct  , black $hpPrctD);
    background-size: cover;
    padding: 0;
}
#exp{
  float: left;
  margin-left: 5%;
  background-color: rgb(204, 159, 11);
  background-image: url(../../../../assets/img/sklo.png);
  background-size: cover;
  padding: 0;
}
#lvl{
  margin-left: 5%;
  color: black;
  float: left;
  font-size: 2vw;
}

.staty{
  text-align: center;
  font-size: 2vw;
  color: black;
  width: 100%;
  height: 33%;
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
}

table{
  width: 70%;
  float: left;
  margin-left: 12%;
  border: solid black;
  border-collapse: collapse;
  padding: 0;
}

th, td {
  border: solid black;
  padding: 0;
}
p{
  float: left;
}
.eku{
  margin-left: 4%;
  width: 80%;
  height: 15%;
  background-repeat: no-repeat;;
  background-image: url(../../../../assets/img/itemki2.png);
  background-size: cover; 
  float: left;
}

#item1{
  width: 30%;
  height: 100%;
  float: left;
}
#item2{
  margin-left: 3.5%;
  width: 30%;
  height: 100%;
  float: left;
}

#item3{
  margin-left: 3.5%;
  width: 30%;
  height: 100%;
  float: left;
}

.item{
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}

#pusty{
float: left;
width: 1%;
height: 17%;
padding: 0;
margin: 0;
}

#content > p{
  font-size: 1vw;
  color: black;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 0;
  float: left;
  width: 100%;
  padding: 0;
}

#content{
  padding: 0;
  margin-left: 4%;
  width: 85%;
  height: 28%;
  border:solid black;
  background-repeat: no-repeat;
  background-image: url(../../../../assets/img/loot.png);
  background-size: cover; 
  float: left;
  display: inline-block;
}
#contentInside{
  margin-top: 1%;
  margin-left: 5.5%;
  width: 10%;
  height:15%;
  background-size: 100%; 
  border: solid black;
  display:inline-flex;
  padding: 0;
  float: left;
}
#contentInside2{
  margin-left: 37%;
  margin-top: 24%;
  width: 60%;
  height:56%;
  background-size: 100%; 
  background-color: burlywood;
  border: solid black;
  display:inline-flex;

}


#buttony{
width: 100%;
height: 3.5%;
margin-left: 3%;
padding: 0;
float: left;
display: inline-block;
}


#buttony > button{
  float: left;
}


button{
font-size:  1vw;
margin-left: 1%;
padding: 0;
border: none;
display: inline-block;
}


#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    background-image: url(../../../../assets/img/overlay.png);
    background-size: cover;
    pointer-events: none;
  }


