$hpPrct : var(--hpPrct);
$hpPrctD : var(--hpPrctd);
.container{
    border: black;
    border-style: solid;
    border-width: 0px;
    height: 95%;
    min-height: 95%;
    max-height: 95%;
    width: 28vw;
    min-width: 28vw;
    max-width: 28vw;
    float: right;
    overflow: hidden;
    background-color: dimgray;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/img/staty.png);
    background-size: 90%;

}

.circle{
    border: black;
    border-style: solid;
    border-width: 0px;
    position: relative;
    width: 30%;
    min-width: 30%;
    max-width: 30%;
    height: 15%;
    min-height: 15%;
    max-height: 15%;
  border-radius: 50%;
  display: inline-block;
  margin-left: 3%;
  margin-top: 3%;
  
  
}
#hp{

    background-image: url(../../../../assets/img/szkielo.png), linear-gradient(to top, red $hpPrct  , black $hpPrctD);
    background-size: cover;
}
#exp{
  margin-left: 27%;
  background-color: rgb(204, 159, 11);
  background-image: url(../../../../assets/img/sklo.png);
  background-size: cover;
}

.eq{
  margin-top: 55%;
  margin-left: 33%;
  width: 25%;
  height: 15%;
  background-repeat: no-repeat;;
  background-image: url(../../../../assets/img/itemki.png);
  background-size: 100%; 
  position: relative; 
}
.itemy{
  margin-top: 2%;
  margin-left: 5%;
  width: 85%;
  height: 35%;
  background-repeat: no-repeat;
  background-image: url(../../../../assets/img/loot.png);
  background-size: 100%; 
  position: relative;
}
.item{
width: 100%;
height: 100%;

}
#content{
  margin-top: 3.5%;
  margin-left: 4%;
  width: 85%;
  height: 30%;
  border:solid black;
  background-repeat: no-repeat;
  background-image: url(../../../../assets/img/loot.png);
  background-size: 100%; 
}
#contentInside{
  margin-left: 4%;
  margin-top: 5%;
  width: 8%;
  height:13%;
  //background-image: url(../../../../assets/img/miecz.png);
  background-size: 100%; 
  border: solid black;
  display:inline-flex;
}


button{
position: absolute;
width:  3%;
height: 3%;
font-size:  1vw;
margin: 0;
padding: 0;
border: none;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../../../assets/img/overlay.png);
    background-size: cover;
    pointer-events: none;
  }

  p{
    color: black;
    font-weight: bold;
    font-size: 1vw;
    margin-left: 16%;
  }

