$hpPrct : var(--hpPrct);
$hpPrctD : var(--hpPrctd);
.container{
    border: black;
    border-style: solid;
    border-width: 1px;
    height: 98vh;
    width: 25vw;
    float: right;
    overflow: hidden;
}
.circle{
    border: black;
    border-style: solid;
    border-width: 1px;
    height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
}
#hp{
    
    //background-color: red;
    background: linear-gradient(to top, red $hpPrct  , white $hpPrctD);
}