<div id="overlay"></div>

<div class="container">
    
<div class="circle" id ="hp"></div>
<div class="circle" id ="exp"></div>
<div class="pusty"></div>
<div class="eku">
  <div id="contentInside2" *ngFor="let image of eq; let i=index">
    <img class="item" src={{image.url}}  (click)="unselect(i, image)"/>  
  </div>
   </div>
<div id="buttony">
  <button (click)="add()">Add</button>
  <button (click)="delete()">Delete</button>
  <button (click)="clear()">Clear</button>
</div>
<div id="content">
    <div id="contentInside" *ngFor="let image of images; let i=index">
      <img class="item" src={{image.url}} (click)="select(i, image)"/>
    </div>
  </div>

</div>