
<div class="container">
  
    <div class="text-block">
  <p>Maciej..Kalinowski</p>
  <p>Patryk..Kowalewski</p>
  <p>Hubert..Kozacz</p>
    </div>
  <div class="header">
  <h4>TWORCY</h4>
  </div>
  <div class="text-block2">
  <p>Krystian..Kozlowski</p>
  <p>Bartosz..Floryszczak</p>
  <p>David..Ruszkowski</p>
  </div>
  <div>
  <div class="about">
  <p>Gra zostala stworzona przez grupe kumpli studentow ,
  niby na potrzebe 
  zajec, lecz wlozyli w nia troche serca. gra jest efeketem naszej
  wspolnej pracy. Przygoda toczy się wiele lat przed wspolczesnoscia,
  Gdzie krainy byly pelne potworow i mrocznej magii(nie chodzi o przyprawe).
  naszego glownego bohatera czeka bardzo mroczna przygoda pelna krwi, brutalnosci
  i wnetrznosci. </p>
  
  </div>
  