
<div class="container">
  
  <div class="head">
    TWÓRCY
    </div>

<div class="bloki">
    <div class="text-block">
    Maciej Kalinowski<br>
    Patryk Kowalewski<br>
    Hubert Kozacz
    </div>
    <div class="text-block2">
    Krystian Kozlowski<br>
    Bartosz Floryszczak<br>
    David Ruszkowski
    </div>
</div>

  <div class="about">
  Gra została stworzona przez grupę kumpli studentów, niby na potrzebe zajęć, <br>
  lecz włożyli w nią trochę serca. Gra jest efeketem naszej wspólnej pracy. <br>
  Przygoda toczy się wiele lat przed współczesnością, gdzie krainy były pełne potworów <br>
  i mrocznej magii(nie chodzi o przyprawe).
  Naszego głównego bohatera czeka bardzo mroczna przygoda pełna krwi, brutalnosci i wnętrznosci.</div>

  </div>