.container {
  font-family: arcadeclassic;
  background-image: url('../../../assets/img/tlo2.jpg');
  background-size: 100%;
  height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.bloki{
  padding-top: 2%;
  width: 100%;
  text-shadow: 0.1vw 0.1vw red;
}

.text-block {
  float: left;
  margin-left: 20%;
  font-size: 2vw;
  color: white;
  width: 20%;
  color:grey;
}
.text-block2 {
  float: left;
  margin-left: 20%;
  font-size: 2vw;
  color: white;
  width: 20%;
  color:grey;
}
.head {
  padding-top: 1%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 3vw;
  color: white;
  text-shadow: 0.1vw 0.1vw red;
}
.about {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  padding-top: 5%;
  float: left;
  font-size: 2.5vw;
  color: white;
  text-shadow: 0.1vw 0.1vw red;
}
