.container{
    width: 71%;
    min-width: 71%;
    height: 23.8%;
    border-style: solid;
    border-width: 0px;
    float:left;
    overflow: scroll;
    background-color: dimgray;

}
.controls{
    margin-top: 4%;
    position: fixed;
    margin-left: 63%;

}


button.up{
    margin-left: 30px;
    width: 30px;
}

button.down{
    width: 30px;
}

li{
    margin-top: 10px;
    margin-left: 30px;
    color: black;
}
