.container{
    width: 70vw;
    height: 21vh;
    border-style: solid;
    border-width: 1px;
    float:left;
    overflow: scroll;
    background-color: dimgray;
}
.controls{
    margin-top: 55px;
    position: fixed;
    margin-left: 1020px;

}


button.up{
    margin-left: 30px;
    width: 30px;
}

button.down{
    width: 30px;
}

li{
    margin-top: 10px;
    margin-left: 30px;
    color: black;
}
